:root {
  --primary-brown: #8B4513;
  --secondary-brown: #A0522D;
  --white: #FFFFFF;
  --primary-green: #228B22;
  --accent-green: #3CB371;
  --text-color: #333333;
  --light-gray: #f4f4f4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--light-gray);
  color: var(--text-color);
}

/* You can add global styles to this file, and also import other style files */