<h2>Gestão de Pedidos</h2>

<div class="admin-orders-container">
  <div *ngIf="(orders$ | async) as orders; else noOrders">
    <div *ngIf="orders.length > 0; else noOrders">
      <table>
        <thead>
          <tr>
            <th>ID do Pedido</th>
            <th>Horário</th>
            <th>Itens</th>
            <th>Total</th>
            <th>Status Atual</th>
            <th>Mudar Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id.substring(0, 7) }}...</td>
            <td>{{ order.timestamp | date:'dd/MM/yy HH:mm' }}</td>
            <td>
              <ul>
                <li *ngFor="let item of order.items">
                  {{ item.quantity }}x {{ item.dish.name }}
                </li>
              </ul>
            </td>
            <td>{{ order.total | currency:'BRL' }}</td>
            <td><strong>{{ order.status }}</strong></td>
            <td>
              <select [value]="order.status" (change)="onStatusChange(order.id, $event)">
                <option *ngFor="let status of orderStatuses" [value]="status">
                  {{ status }}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #noOrders>
  <p>Nenhum pedido recebido ainda.</p>
</ng-template>
