<h2>Tela de Entregas</h2>
<div class="delivery-container">
  <div *ngIf="(orders$ | async) as orders; else noOrders">
    <div class="order-cards">
      <div *ngFor="let order of orders" class="order-card">
        <h3>Pedido #{{ order.id.substring(0, 5) }}</h3>
        <p><strong>Horário:</strong> {{ order.timestamp | date:'HH:mm:ss' }}</p>
        <p *ngIf="order.observation"><strong>Observação:</strong> {{ order.observation }}</p>
        <ul>
          <li *ngFor="let item of order.items">
            {{ item.quantity }}x {{ item.dish.name }}
          </li>
        </ul>
        <p><strong>Status: {{ order.status }}</strong></p>
        <button (click)="confirmDelivery(order)">
          Confirmar Entrega
        </button>
      </div>
    </div>
  </div>
  <ng-template #noOrders>
    <p>Nenhum pedido para entrega no momento.</p>
  </ng-template>
</div>