<div class="dish-list-container">
  <div class="search-bar-container">
    <input type="text" placeholder="Buscar pratos..." [(ngModel)]="searchTerm" (input)="filterDishes()" class="search-input">
    <i class="fas fa-search search-icon"></i> <!-- Placeholder for search icon -->
  </div>

  <h2>Cardápio</h2>

  <div *ngIf="filteredDishes.length === 0" class="no-dishes-message">
    <p>Nenhum prato encontrado.</p>
  </div>

  <div class="dish-grid">
    <div *ngFor="let dish of filteredDishes" class="dish-card">
      <div class="dish-image-wrapper">
        <img *ngIf="dish.photoUrl" [src]="backendUrl + dish.photoUrl" alt="{{ dish.name }}" class="dish-image">
        <div class="dish-price-tag">{{ dish.price | currency:'BRL' }}</div>
      </div>
      <div class="dish-content">
        <h3 class="dish-name">{{ dish.name }}</h3>
        <p class="dish-description">{{ dish.description }}</p>
        <div class="dish-actions">
          <button (click)="addToCart(dish)" class="add-to-cart-btn">Adicionar</button>
          <button (click)="removeDish(dish.id)" class="remove-dish-btn">Remover</button>
        </div>
      </div>
    </div>
  </div>
</div>
