<div class="kitchen-order-management-container">
  <h2>Gerenciamento de Pedidos da Cozinha</h2>

  <div *ngIf="orders.length === 0" class="no-orders-message">
    <p>Nenhum pedido pendente ou em preparo.</p>
  </div>

  <div class="order-list">
    <div *ngFor="let order of orders" class="order-card">
      <h3>Pedido #{{ order.id }}</h3>
      <p>Status: <strong>{{ order.status }}</strong></p>
      <p *ngIf="order.observation">Observação: {{ order.observation }}</p>
      
      <div *ngIf="order.orderItems && order.orderItems.length > 0">
      <h4>Itens:</h4>
      <ul>
        <li *ngFor="let item of order.orderItems">
          {{ item.quantity }} {{ item.dish.name | titlecase }}
        </li>
      </ul>
      </div>
      <p class="total-price">Total: R$ {{ order.totalPrice | number:'1.2-2' }}</p>

      <div class="order-actions">
        <button 
          (click)="updateOrderStatus(order, 'IN_PREPARATION')"
          [disabled]="order.status === 'IN_PREPARATION' || order.status === 'OUT_FOR_DELIVERY' || order.status === 'DELIVERED'"
          class="btn-prepare"
        >
          Em Preparo
        </button>
        <button 
          (click)="updateOrderStatus(order, 'READY_FOR_DELIVERY')"
          [disabled]="order.status !== 'IN_PREPARATION'"
          class="btn-ready"
        >
          Pronto para Entrega
        </button>
      </div>
    </div>
  </div>
</div>